<footer class="footer-1">
    <div class="upper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="http://www.petworthmarket.org/"><img style="height: 58px; width: auto;" src="{{ site.baseurl }}/assets/img/footer/PM.png" /></a>
                    <a href="http://www.petworthjazzproject.com/"><img style="height: 58px; width: auto;" src="{{ site.baseurl }}/assets/img/footer/fppJazz.png" /></a>
                    <a href="http://petworthcoop.com/"><img style="height: 58px; width: auto;" src="{{ site.baseurl }}/assets/img/footer/fppCoop.png" /></a>
                    <a href="http://arssollertia.com/"><img style="height: 58px; width: auto;" src="{{ site.baseurl }}/assets/img/footer/ars_logo.png" /></a>
                    <a href="http://www.creativecouchdesigns.com/"><img style="height: 58px; width: auto;" src="{{ site.baseurl }}/assets/img/footer/CC-Designs_Logo.png" /></a>
                    <img style="height: 58px; width: auto;" src="{{ site.baseurl }}/assets/img/footer/FaPL_color.png" />
                </div>
            </div>
        </div>
    </div>
</footer>
