---
---

.footer-1 .upper {
    background-color: inherit;
}

.footer-1 img {
    margin: 10px 20px;
}

.contact-1 {
    padding-bottom: 0px;
}

@media (min-width: 767px) {
  {% for person in site.people %}
    .about-img-{{ person.order }} {
      background-image: url({{ person.image }});
    }
  {% endfor %}
}
